In [5]:
#Day 1 - 30 Learn Python By Asabeneh
{
    #dictionary
    'first name' : 'Ramawan Aditya',
    'Last name' : 'Maullana Putra',
    'Country' : 'Indonesia',
    'Age' : '22',
    'is_married' : True,
    'skills' : ['Photoshop','Illustrator','Graphic Design']
}
"""
#Example Print
print(2 + 3)             # addition(+)
print(3 - 1)             # subtraction(-)
print(2 * 3)             # multiplication(*)
print(3 / 2)             # division(/)
print(3 ** 2)            # exponential(**)
print(3 % 2)             # modulus(%)
print(3 // 2)            # Floor division operator(//)


Checking data types
print(type(10))          # Int
print(type(3.14))        # Float
print(type(1 + 3j))      # Complex number
print(type('Asabeneh'))  # String
print(type([1, 2, 3]))   # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

#exercise 1
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 % 4)
print(3 / 4)
print(3 ** 4)
print(3 // 4)

#exercise 2
myname = 'Ramawan Aditya'
familyname = 'Maullana Putra'
country = 'Indonesia'
motivated = 'Im Enjoying 30 Days Of Python'

print(myname)
print(familyname)
print(country)
print(motivated)

#exercise 3
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4-4j))
print(type(['Ramawan','Learn Python 30 Days', 'Indonesia']))
print(type('Ramawan'))
print(type('Aditya'))
print(type('Indonesia')) """

# Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.
age = 22
weight = 171.5
x = 4 + 5j
name = "Ramawan"
is_student = True
fruits = ['Banana', 'Watermelon']
coordinate = (5,20)
numbers = {1,2,3,4,5}
Person = {'Nama':'Ramawan', 'Age':'22'}

# Find an Euclidian distance between (2, 3) and (10, 8)
x1, y1 = 2, 3
x2, y2 = 10, 8

distance = ((x2 -x1)**2 + (y2-y1)**2)** 0.5
print("nilai jarak euclidian = ", distance)

nilai jarak euclidian =  9.433981132056603