In [32]:
# exercise : level 1
# No. 1 declare empty list
kumpulan = []
# No. 2 Declare a list with more than 5 items.
kumpulan = ["Mobil", "Sepeda", "Sepeda Motor", "Bus", "Kereta"]
# No. 3 Find the length of your list
print("Panjang listmu =", len(kumpulan))
# No. 4 Get the first item, the middle item and the last item of the list
ambilitem = kumpulan[0]
ambilitem1 = kumpulan[2]
ambilitem2 = kumpulan[4]
print(f"Item Pertama = {ambilitem}, Item Kedua = {ambilitem1}, Item Ketiga = {ambilitem2}")
# No. 5 Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_type = ["Ramawan", 22, 172, "Single", "Surabaya"]
print(mixed_data_type)

Panjang listmu = 5
Item Pertama = Mobil, Item Kedua = Sepeda Motor, Item Ketiga = Kereta
['Ramawan', 22, 172, 'Single', 'Surabaya']

In [31]:
# No. 6 Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
# No. 7 Print the list using print()
print(it_companies)
# No. 8 Print the number of companies in the list
print(f"Print Angka dari Companies = {len(it_companies)}")
# No. 9 Print the first, middle and last company
pertama = it_companies[0]
tengah = it_companies[3]
akhir = it_companies[6]
print(f"Item Pertama = {pertama}, Item Kedua = {tengah}, Item Ketiga = {akhir}")
# No. 10 Print the list after modifying one of the companies
print(f"Data Lama = {it_companies}")
it_companiesbaru = it_companies.copy()
it_companiesbaru[0]  = "Instagram"
print(f"Data Baru = {it_companiesbaru}")
# No. 11 Add an IT company to it_companies and No. 12 Insert an IT company in the middle of the companies list
it_companies.insert(3, "IT Company")
print(it_companies)
# No. 13 Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[0] = it_companies[0].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Print Angka dari Companies = 7
Item Pertama = Facebook, Item Kedua = Apple, Item Ketiga = Amazon
Data Lama = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Data Baru = ['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon']
['FACEBOOK', 'Google', 'Microsoft', 'IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [33]:
# No. 14 Join the it_companies with a string '#;  '
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
hasil = '#; '.join(it_companies)
print(f"{hasil}")

Facebook#; Google#; Microsoft#; Apple#; IBM#; Oracle#; Amazon

In [34]:
# No. 15 Check if a certain company exists in the it_companies list.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
if 'Facebook' in it_companies:
    print("Facebook ada dalam IT Companies")
else:
    print("Facebook Tidak Ada Dalam IT Companies")
if 'Sony' in it_companies:
    print("Sony Ada Dalam IT Companies")
else:
    print("Sony Tidak Ada Dalam IT Companies")

Facebook ada dalam IT Companies
Sony Tidak Ada Dalam IT Companies

In [36]:
# No. 16 Sort the list using sort() method
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(f"Data Asli = {it_companies}")
it_companies.sort()
print(f"Data Urut = {it_companies}")

Data Asli = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Data Urut = ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [39]:
# No. 17 Reverse the list in descending order using reverse() method
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(f"Data Asli = {it_companies}")
it_companies.reverse()
print(f"Data Reverse = {it_companies}")

Data Asli = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Data Reverse = ['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

In [59]:
# No. 18 Slice out the first 3 companies from the list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
sliceout = it_companies[:3]
print(f"{sliceout}")
# No. 19 Slice out the last 3 companies from the list
sliceout = it_companies[-3:]
print(f"{sliceout}")
# No. 20 Slice out the middle IT company or companies from the list
sliceout = it_companies[4]
print(f"{sliceout}")

['Facebook', 'Google', 'Microsoft']
['IBM', 'Oracle', 'Amazon']
IBM

In [61]:
# Slice out jika data pada list banyak, dan hanya slice out yang ditengah
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Calculate the middle index
middle_index = len(it_companies) // 2

# Slice out the middle IT company or companies
middle_companies = it_companies[middle_index:middle_index+1] #jika total it_companies ganjil maka index+1, jika genap maka+2

# Print the sliced list
print(middle_companies)

"""Pada contoh ini, kita pertama-tama menghitung indeks tengah dengan membagi panjang daftar it_companies dengan 2 menggunakan pembagian bilangan bulat (//). Kemudian, kita menggunakan notasi potongan untuk memotong perusahaan IT tengah atau perusahaan IT tengah-tengah. Karena dapat ada satu atau dua perusahaan tengah, kita memotong dua perusahaan dengan menambahkan 2 ke indeks tengah. Akhirnya, daftar yang dipotong ditetapkan ke variabel baru yang disebut middle_companies, dan dicetak menggunakan fungsi print()."""

['Apple']

'Pada contoh ini, kita pertama-tama menghitung indeks tengah dengan membagi panjang daftar it_companies dengan 2 menggunakan pembagian bilangan bulat (//). Kemudian, kita menggunakan notasi potongan untuk memotong perusahaan IT tengah atau perusahaan IT tengah-tengah. Karena dapat ada satu atau dua perusahaan tengah, kita memotong dua perusahaan dengan menambahkan 2 ke indeks tengah. Akhirnya, daftar yang dipotong ditetapkan ke variabel baru yang disebut middle_companies, dan dicetak menggunakan fungsi print().'

In [62]:
# No. 21 Remove the first IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove("Facebook")
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [71]:
# No. 22 Remove the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
angka_tengah = len(it_companies)//2
del it_companies[angka_tengah:angka_tengah+1] #jika total it_companies ganjil maka index+1, jika genap maka+2
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [73]:
# No. 23 Remove the last IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [78]:
# No. 24 Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

[]

In [79]:
# No. 25 Destroy the IT companies list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [81]:
# 26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)
# 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = front_end.copy()
nambahdata = ["Python", "SQL"]
full_stack.extend(nambahdata)
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL']

In [116]:
# Exercise 2 
# No 1. The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the list and find the min and max age
ages.sort()
print(ages)
print(f"Yang Paling terkecil = {min(ages)}")
print(f"Yang Paling terbesar = {max(ages)}")
# Add the min age and the max age again to the list
nambahdata = ages.copy()
datayangditambah = [19, 26]
nambahdata.extend(datayangditambah)
print(nambahdata)
# Find the median age (one middle item or two middle items divided by two)
nambahdata.sort()
print(nambahdata)
print(f"Ada berapa index di list ini = {len(nambahdata)}")
middle_index = len(nambahdata)//2
angka_tengah = nambahdata[middle_index:middle_index+1]
print(f"Median Agenya adalah = {angka_tengah}")
# Find the average age (sum of all items divided by their number)
nambahdata.sort()
totaldata = sum(nambahdata)
print(f"Total datanya adalah {totaldata}")
average = totaldata/12
print(f"Rata rata usia tersebut adalah = {average}")
# Find the range of the ages (max minus min)
nambahdata.sort()
maxdata = max(nambahdata)
mindata = min(nambahdata)
range = maxdata - mindata
print(f"Print Range = {range}")

# Compare the value of (min - average) and (max - average), use abs() method
"""Untuk membandingkan nilai dari (min - rata-rata) dan (max - rata-rata) pada list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26] dan mengambil nilai mutlak dari selisih keduanya, pertama-tama kita harus mencari nilai minimum, maksimum, dan rata-rata (mean) dari list tersebut.
Berikut ini adalah kode untuk mencari nilai (min - rata-rata) dan (max - rata-rata) serta membandingkan selisih absolut keduanya"""
n = len(nambahdata)
average_age = sum(nambahdata) / n
min_age = min(nambahdata)
max_age = max(nambahdata)

diff_min = abs(min_age - average_age)
diff_max = abs(max_age - average_age)

if diff_min > diff_max:
    print("The absolute difference between min and average is greater than the absolute difference between max and average.")
elif diff_max > diff_min:
    print("The absolute difference between max and average is greater than the absolute difference between min and average.")
else:
    print("The absolute difference between min and average is equal to the absolute difference between max and average.")
    
"""Seperti yang terlihat pada output di atas, kode tersebut membandingkan selisih absolut dari (min - rata-rata) 
dan (max - rata-rata) serta mencetak pesan yang menunjukkan mana yang lebih besar. Pada kasus ini, 
selisih absolut antara max_age (26) dan average_age (22.4) lebih besar daripada selisih absolut antara min_age (19) 
dan average_age (22.4), sehingga output yang dihasilkan adalah "Selisih absolut antara nilai 
maksimum dan rata-rata lebih besar daripada selisih absolut antara nilai minimum dan rata-rata."""

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Yang Paling terkecil = 19
Yang Paling terbesar = 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Ada berapa index di list ini = 12
Median Agenya adalah = [24]
Total datanya adalah 273
Rata rata usia tersebut adalah = 22.75
Print Range = 7
22.75
The absolute difference between min and average is greater than the absolute difference between max and average.

'Seperti yang terlihat pada output di atas, kode tersebut membandingkan selisih absolut dari (min - rata-rata) \ndan (max - rata-rata) serta mencetak pesan yang menunjukkan mana yang lebih besar. Pada kasus ini, \nselisih absolut antara max_age (26) dan average_age (22.4) lebih besar daripada selisih absolut antara min_age (19) \ndan average_age (22.4), sehingga output yang dihasilkan adalah "Selisih absolut antara nilai \nmaksimum dan rata-rata lebih besar daripada selisih absolut antara nilai minimum dan rata-rata.'

In [6]:
# 1. Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

print(f"Banyaknya negara ada = {len(countries)}")
middlecountries = len(countries)//2
middle_countries = countries[middlecountries:middlecountries+1]
print(f"ini adalah daftar nama tengah dari beberapa list negara = {middle_countries}")

Banyaknya negara ada = 193
ini adalah daftar nama tengah dari beberapa list negara = ['Lesotho']